img {
    height: 40vh;
}

.button {
    background-color: white;
    color: black;
    border: none;
}

.card-text {
    resize: none;
    height: 15vh;
    font-family: 'Montserrat', sans-serif;

}

.card-text,
.card-title,
.card-price {
    font-family: 'Montserrat', sans-serif;

}